<div>
  <button (click)="goNext('main')"> go home</button>
</div >
@for (task of tasksList; track task) {

  @if (task.completed) {
    <mat-checkbox class="example-margin" [checked]="task.completed" (click)="setComplete(task.id)"> <del><h2>{{ task.titleToDo }}</h2> <br> {{task.descriptionToDo}} </del></mat-checkbox>
  } @else if (!task.completed) {
    <mat-checkbox class="example-margin" [checked]="task.completed" (click)="setComplete(task.id)"> <h2>{{ task.titleToDo }}</h2> <br> {{task.descriptionToDo}}</mat-checkbox>
  }
  <button (click)="edit(task.id)">Edit</button>
  <button (click)="delete(task.id)">Delete</button>
  <br>
}
